# Jekyll
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
vendor/

# Ruby
Gemfile.lock

# R (legacy)
.Rproj.user
.Rhistory
.RData
.Ruserdata

# OS
.DS_Store
*/.DS_Store
**/.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo
