/* styles.css */
  body {
    text-align: justify;                     /* justifica todo el texto */
      color: #000000;                          /* letra negra */
      font-size: 18px;                          
      font-family: "Arial Narrow", Arial,      /* fuente principal */
      Helvetica, sans-serif;      /* fuentes de respaldo */
  }

p,
li {
  text-align: justify;                     /* mantiene la justificación en párrafos y listas */
}